@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

@font-face {
    font-family: "Butler_Bold";
    src: url('../fonts/Butler_Bold.otf');
}

body{
	font-family: "Raleway", sans-serif, Helvetica, Arial, sans-serif;
	color: #777;
  	background: #fff;
  	position: relative;
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #fff; 
   
}
 
::-webkit-scrollbar-thumb {
    
    background-color: #333;
    outline: 1px solid #333;
}
*:focus {
    outline: none;
}
.mobile {display: none;}
.desktop {display: block;}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

#header {
    background: #1c1c1c;
    color: #A6A6A6;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header {
    padding: 7px 0;
    font-size: 10px;
}

.social-header img {
	margin: 0 10px;
}

.icon-search {
	width: 15px;
	padding: 10px 2px;
	margin: 0 5px;
}

.search-box {
    background: #6e6d6d;
    color: #fff;
    border: none;
    font-size: 10px;
    padding: 0 15px;
}

.logo-bellissimo-wines {
    width: 200px;
    padding: 10px;
}

.logo-bellissimo-icon {
	width: 35px;
	margin: 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
    color: #111;
    font-family: "Raleway";
    font-size: 14px;
}

.active {
	color: #771516;
	font-weight: 700;
	border-bottom: solid 2px #771516;
}

.active .nav-link:a {
	color: #771516;
}

.headline {
    margin-top: 15%;
    padding: 30% 5px;
}

.headline p {
    line-height: 2em;
    margin: 15px 0;
    color: #333;
    font-size: 1.2em;
}
.headline img {
	width: 100%;
}

#home-slider {
	background: url('../img/home-bg.png') center center no-repeat;
	background-size: cover;
	font-family: "Raleway";
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 5%;
    background: rgba(255,255,255,0.8);
    z-index: 1030;
}

#brand-story {
	background: url('../img/brand-story-bg.png') center center no-repeat;
	background-size: cover;
}

.brand-story {
	margin-top: 5%;
}

.brand-story img {
	width: 100%;
	margin-top: 15%;
}

.brand-story-images {
	width: 100%;
}
.brand-story h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-weight: 700;
	font-size: 3em;
}

.brand-story h4 {
	font-family: "Raleway";
	color: #222222;
	font-size: 1.2em;
	font-weight: 700;
}

.brand-story p {
	font-family: "Raleway";
}

#share {
	background: url('../img/share-your-sparkle-bg.png') center center no-repeat;
	background-size: cover;
}

.share {
	margin: 10% 0;
}

.share h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}

.social-share img {
    width: 25px;
    margin: 15px 0;
}

.divider {
	width: 100%;
	display: none;
}

#products {
	background: url('../img/our-product-bg.jpg') center center no-repeat;
	background-size: cover;
	padding-bottom: 5%;
}

.our-products {
	margin-top: 15%;
}
.our-products h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}

.our-products h4 {
	font-family: "Raleway";
	color: #222222;
	font-size: 1.2em;
	font-weight: 700;
}

.products {
    display: block;
    margin-top: 10%;
}
.products-box-left {
    display: block;
    float: left;
    border: solid 5px #e1ba4d;
    padding: 15px;
    margin-top: 60%;
    position: relative;
}

.products-name-left {
    display: block;
    left: 30%;
    position: relative;
    background: #fff;
    padding: 10px 0;
}

.products-name-left h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #e1ba4d;
	font-size: 1.5em;
}

.products-name-left h4 span{
	font-family: "Raleway";
	color: #333;
	font-weight: 300;
}

.product-img-left {
    display: block;
    width: 175px;
    padding-left: 10%;
}
.products-box-right {
    display: block;
    float: right;
    border: solid 5px #e1ba4d;
    padding: 15px;
    margin-top: 60%;
    position: relative;
}

.products-name-right {
    display: block;
    right: 30%;
    position: relative;
    background: #f6f6f6;
    padding: 10px 0;
}

.products-name-right h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #e1ba4d;
	font-size: 1.5em;
}

.products-name-right h4 span{
	font-family: "Raleway";
	color: #333;
	font-weight: 300;
}

.product-img-right {
    display: block;
    width: 175px;
    padding-right: 10%;
    margin-left: 80px;
}

.products-box {
	margin-top: 25%;
}

.products-box h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #333;
	font-size: 1.5em;
}

.product-img {
	width: 100%;
	padding: 25px;
}
.clear-25 {height: 25px;}

.tasting-note-btn {
	width: 80%;
	margin: 0 10%;
}

#order {
	background: url('../img/order-bg.jpg') center center no-repeat;
	background-size: cover;
	padding-bottom: 5%;

}
.order {
	margin: 10% 0;
}

.order h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}
.order h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #fff;
	font-size:1em;
}

#events {
	/*background: url('../img/event-bg.png') center center no-repeat;*/
	background: #c2dbd4;
	background-size: cover;
	padding-bottom: 5%;

}

#news-detail {
	background: #efefef;
	padding-bottom: 5%;
	color: #111;
}
.event {
	margin: 10% 0;
}

.event h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}

.event h3 {
	font-family: "Raleway";
	line-height: 40px;
	margin: 25px 0;
}
.event h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #333;
	font-size:1em;
}
.event-box {
	background: #fff;
	text-align: center;
	padding-bottom: 50px;
	box-shadow: 6px 10px rgba(99,99,99,0.5);
	margin-bottom: 30px;
}
.event-box h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #111;
	font-size:1.2em;	
	padding: 15px;
}

.event-box p {
    color: #111;
    padding: 15px;
    height: 150px;
    display: table-cell;
  	vertical-align: middle;
}

.event-thumb {
    width: 100%;
    padding: 15px;
}
.time {
	color :#e1ba4d;
	font-size: 0.8em;
}
#testimonial {
	background: url('../img/testimonial-bg.jpg') center center no-repeat;
	background-size: cover;
	padding-bottom: 5%;

}
.testimonial {
	margin: 10% 0;
}

.testimonial h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}
.testimonial h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #fff;
	font-size:1em;
}

.testimonial p {
	color: #fff;
}

.icon-quote {width: 20px; margin: 10px 0;}
#contact {
	background: url('../img/contact-us-bg.jpg') center center no-repeat;
	background-size: cover;

}
.contact {
    padding: 25% 10%;
    background: rgba(255,255,255,0.9);
}

.contact h1 {
	font-family: "Cinzel";
	color: #e1ba4d;
	font-size: 3em;
	font-weight: 700;
}
.contact h4 {
	font-family: "Raleway";
	font-weight: 700;
	color: #333;
	font-size:1em;
}

#newsletter {
    background: #e1ba4d;
    color: #333;
    display: block;
}
.newsletter {
	padding: 15px 0;
}
#footer {
    background: #fff;
    color: #A6A6A6;
	padding: 25px 15px;
}

.footer {
	font-size: 12px;
}

.footer h1 {
	font-family: "Cinzel";
    color: #e1ba4d;
    font-weight: 700;
}

.footer h5 {
	font-family: "Raleway";
    color: #e1ba4d;
    font-size: 1em;	
}

.btn-warning {
    color: #212529;
    background-color: transparent;
    border: 2px solid #888888;
    padding: 10px 25px;
    font-weight: 700;
}

.btn-whatsapp {
    color: #212529;
    background-color: #e1ba4d;
    /*border: 2px solid #888888;*/
    padding: 10px 25px;
    font-weight: 700;
    width: 50%;
    margin-left: 25%;
}

.btn-whatsapp-mobile {
    color: #212529;
    background-color: #e1ba4d;
    /* border: 2px solid #888888; */
    padding: 10px 25px;
    font-weight: 700;
    width: 100%;
}

.btn-black {
    color: #fff;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.icon-whatsapp {
	width: 40px;
}
.modal-product {
	display: block;
}
.modal-title {
	font-family: "Cinzel";
	font-weight: 700;
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 5%;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-align: center;
    background: #c2dbd4;
}

#popupVerificationAge .modal-body {
	background: #333;
	color: #fff;
}

#popupVerificationAge .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    left: 20%;
}
#popupVerificationAge .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
}
.modal-footer {
	background: #c2dbd4;
}

.modal-footer p {
	text-align: center;
}
.header-news-detail {
	width: 100%;
	height: 300px;
}
.news-gallery {
	background: #fff;
	text-align: center;
	margin-bottom: 25px;
}
.news-gallery img {width: 100%; padding: 15px;}
.news-paragraph {
	padding: 20px 0;
}
#floating {display: none;}
.floating-whatsapp {display: none;}
@media  screen and (min-width: 1281px) and (max-width: 1600px) {
  
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.mobile {display: block;}
	.desktop {display: none;}
	.logo-bellissimo-icon {
	    width: 35px;
	    margin: 0 55px 0 0;
	}
	
	.logo-bellissimo-wines {
	    width: 150px;
	    padding: 5px;
	}
	.navbar-toggler {
	    padding: .25rem .75rem;
	    font-size: 1.25rem;
	    line-height: 1;
	    background-color: transparent;
	    border: transparent;
	    border-radius: .25rem;
	}
	.icon-menu {width: 30px;}
	.active {
	    border-bottom: none;
	    background: #555;
	}
	.brand-story h1 {
	    font-family: "Cinzel";
	    color: #e1ba4d;
	    font-weight: 700;
	    font-size: 2em;
	}
	.our-products h1 {
    	font-family: "Cinzel";
	    color: #e1ba4d;
	    font-size: 2em;
	    font-weight: 700;
	}
	.product-img {
	    width: 100%;
	    padding: 5px 30% 0 30%;
	}

	.products-box {
	    margin-top: 15px;
	    margin-bottom: 15%;
	}
	.testimonial h1 {
	    font-family: "Cinzel";
	    color: #e1ba4d;
	    font-size: 2em;
	    font-weight: 700;
	}
	.event h1 {
	    font-family: "Cinzel";
	    color: #e1ba4d;
	    font-size: 2em;
	    font-weight: 700;
	}
	.event-box {
	    background: #fff;
	    text-align: center;
	    padding-bottom: 50px;
	    margin-bottom: 25px;
	    box-shadow: 6px 10px rgba(99,99,99,0.5);
	}
	.order h1 {
	    font-family: "Cinzel";
	    color: #e1ba4d;
	    font-size: 2em;
	    font-weight: 700;
	}
	.contact h1 {
	    font-family: "Cinzel";
	    color: #e1ba4d;
	    font-size: 2em;
	    font-weight: 700;
	}
	.newsletter {
	    padding: 0;
	    text-align: center;
	}
	#floating {display: block;}
	.floating-whatsapp {
		display: block;
		position: fixed;
		bottom: 0;
		color: #212529;
		font-size: 0.8em;
	    background-color: #e1ba4d;
	    padding: 5px 25px;
	    font-weight: 700;
	    width: 100%;
	    text-align: center;
	    border-top: 4px solid #b0900f;
	}
	
	.icon-whatsapp-floating {width: 25px;}
	.carousel-item {
	  height: 100vh;
	  min-height: 300px;
	  background: no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}